//support
.gradient
	background: -webkit-radial-gradient(87% 25%, circle closest-corner,  #5e053a, #181421) no-repeat
	background: -moz-radial-gradient(87% 25%, circle closest-corner,  #5e053a, #181421) no-repeat
	background-color: #15151f
	//background: url(../img/gradient.png) top right no-repeat
	//background-size: cover

.wrapper
	max-width: 1440px
	min-width: 320px
	margin: 0 auto
	.header
		padding: 20px 3% 0 5.347222%
	a
		text-decoration: none

//support page
.inner
	position: relative
	padding: 0 13.8% 0 15%
	.inner__ttl
		padding-top: 35px
		+clr
	.inner__faq
		font-size: 60px
		color: #fff
		float: left
		text-transform: uppercase
		+mus100
	.inner__manual
		float: right
	.inner__ask
		margin: 40px 0 70px 0
	.ask__list-item
		margin-bottom: 17px
		font-size: 20px
		color: $blue
		cursor: pointer
		+mus300
		&:hover
			color: $neon
		.is-active
			color: #FFF
			+mus700
	.ask__answered
		margin: 30px 0 45px
		background-color: rgba(#222230, .4)
		+mus300
		p
			padding: 2.6483% 3.1779% 2.6483% 5.29661%
			font-size: 20px
			color: #fff
			line-height: 1.2
	.inner__form
		margin-bottom: 50px
		background-color: rgba(#222230, .4)
	.formReg
		padding: 5.29661%
		+clr
		.textarea
			margin: 0 0 25px 0
		.btnSend
			float: right
		.input
			&.another
				margin: 0 0 20px 0
			&.small
				margin: 0 0 15px 0
	.formReg__prettl
		padding-bottom: 70px
		+s-ttl
	.formReg__ttl
		margin-bottom: 40px
		line-height: 1
		+ttl
		&.center
			text-align: center
	.formReg__desc
		margin-bottom: 10px
		font-size: 20px
		color: #fff
		+mus300
		&.is-active
			+mus700
	.formReg__input
		margin-bottom: 40px
		+clr
	.formReg__warning
		padding-right: 65px
		font-size: 15px
		color: $lightViolet
		line-height: 1.2
		+mus500
	.input__row
		float: left
		width: 50%
		padding-right: 5%
		+box
		&.nopad
			padding: 0
		&.wbigchange
			width: 52.9%
		&.wchange
			width: 39.2%
		&:last-child
			float: right
			padding-right: 0
	.formLost
		padding: 5.29661%
		+clr
		.input__row
			float: left
		.btnSend
			float: right
	.formLost__ttl
		margin-bottom: 15px
		line-height: 1
		+s-ttl
	.formLost__txt
		width: 50%
		float: right
		padding-top: 38px
		font-size: 20px
		line-height: 1.2
		color: $lightViolet
		+mus300
	.version__ttl
		margin-bottom: 40px
		+ttl
	.version__txt
		width: 73%
		margin-bottom: 50px
		font-size: 20px
		color: $lightViolet
		+mus300
	.version__choose
		display: table
		width: 100%
		margin-bottom: 65px
	.choose__item
		text-align: center
		display: table-cell
		width: 25%
		&:hover
			background-color: #21212f
		a
			display: block
			padding: 50px 0
	.choose__name
		margin-bottom: 20px
		text-transform: uppercase
		font-size: 15px
		color: #00D2FF
		+mus700
	.choose__desc
		font-size: 15px
		color: $lightViolet
		+mus300
	.choose__disk
		min-height: 127px
		margin: 0 auto 30px
	.choose__disk-first
		+s(daisydisk1)
	.choose__disk-second
		+s(daisydisk2)
	.choose__disk-third
		+s(daisydisk3)
	.choose__disk-fourth
		+s(daisydisk4)
	.inner__source
		margin-bottom: 200px
	.source__ttl
		padding-bottom: 15px
		+ttl
	.source__txt
		padding: 0 33px 0 4px
		font-size: 20px
		color: $lightViolet
		line-height: 24px
		+mus300
		a
			color: #00D2FF
			&:hover
				color: $neon

//about us page
.inner
	.about
		padding: 19.2% 2.8% 16.6% 0
		text-align: center
		font-size: 32px
		color: #fff
		line-height: 1.2
		+mus300
		p
			width: 75%
			margin: 0 auto
	.who
		margin-bottom: 50px
		+clr
	.person
		float: left
		text-align: left
		&:last-child
			float: right
			text-align: right
	.person__ttl
		padding-bottom: 24px
		line-height: 1
		+s-ttl
	.person__desc
		font-size: 20px
		color: $lightViolet
		line-height: 1.2
		+mus300
		&.last
			padding-bottom: 14px
		&.small
			font-size: 15px
	.person__mail
		font-size: 15px
		color: $blue
		letter-spacing: 0.35px
		&:hover
			color: $neon
	.known
		margin-bottom: 50px
		background-color: rgba(#222230, .4)
	.known__item
		padding: 5.3% 5.3% 5.3% 5%
	.known__ttl
		margin-bottom: 33px
		line-height: 1
		+ttl
	.place
		margin-bottom: 33px
	.place__item
		display: table-cell
		width: 50%
		padding-right: 7%
		+box
		&:last-child
			padding-right: 6%
	.place__ttl
		padding-bottom: 24px
		line-height: 1
		+s-ttl
	.place__txt
		font-size: 20px
		color: $lightViolet
		line-height: 24px
		+mus300
	.span__blue
		color: $blue
		&:hover
			color: $neon
	.map
		width: 87%
		margin: 0 auto
		img
			width: 100%


//blog page
.blog
	a
		color: $blue
		&:hover
			color: $neon
	.blog__ttl
		margin: 42px 0 36px 0
		line-height: 1
		+ttl
	.post
		position: relative
		margin-bottom: 60px
	.post__date
		position: absolute
		top: 0
		left: -13.5%
		font-size: 15px
		color: #FFF
		+mus300
	.post__ttl
		margin-bottom: 23px
		line-height: 1
		+s-ttl
	.post__txt
		font-size: 20px
		color: $lightViolet
		line-height: 24px
		+mus300
		&.space
			margin-bottom: 25px
		&.padding
			padding-right: 20px
		&.big-padding
			padding-right: 25px
	.post__notes
		line-height: 1
	.notes__item
		font-size: 20px
		color: $lightViolet
		+mus300
		&.space
			margin-bottom: 28px
			span
				line-height: 22px
				&.padding
					padding-right: 20px
		span
			display: table-cell
			padding-left: 31px
			line-height: 30px
		&:before
			display: table-cell
			content: "\2014"
			color: #FFF
	.tags
		margin-top: 37px
		font-size: 15px
		color: #FFF
		.tags__span
			text-transform: uppercase
			+mus700
	.blog__pagination
		margin: 100px 0 94px 0
		text-transform: uppercase
		font-size: 15px
		+mus700
	.previous
		display: inline-block
		position: relative
		padding-left: 20px
		&:hover
			&:before
				+s(scroll_active)
		&:before
			content: ""
			position: absolute
			left: -5px
			+s(scroll)
			+rotate(90)
	.count
		display: inline-block
		margin: 0 2.6%
		font-size: 0
	.count__item
		margin-right: 5.5px
		padding: 7px 12px
		font-size: 15px
		color: $dark
		background: $blue
		+border-radius(5px)
		+background-clip(padding-box)
		&:hover
			background: $neon
			color: $dark
		&:last-child
			margin-right: 0
		&.is-active
			background: none
			color: #FFF
	.next
		display: inline-block
		padding-right: 29px
		position: relative
		&:hover
			&:before
				+s(scroll_active)
		&:before
			content: ""
			position: absolute
			right: 0
			+s(scroll)
			+rotate(270)


//store page
.store
	.product
		margin: 35px 0 60px
	.product__row
		margin-bottom: 30px
		+clr
		&:last-child
			margin-bottom: 0
	.product__info
		float: left
		text-transform: uppercase
		font-size: 30px
		color: #FFF
		+mus300
		span
			color: $neonGreen
	.product__country
		float: right
	.product__quantity
		display: table-cell
		padding-right: 50px
		font-size: 20px
		color: #FFF
		box-sizing: border-box
		+mus300
		input
			max-width: 85px
			padding: 12px 0 8px 20px
			font-size: 25px
			color: #FFF
			background-color: rgba(38,38,54,.7)
			border: 1px solid rgba(161,161,175,.4)
			+border-radius(5px)
			+background-clip(padding-box)
			+placeholder-color(#fff)
			+box
			+mus300
	.product__desc
		display: table-cell
		padding-right: 50px
		font-size: 20px
		color: $lightViolet
		+mus300
		+box
	.inner__form
		margin-bottom: 70px
	.payment
		margin-bottom: 70px
	.payment__ttl
		margin-bottom: 35px
		+s-ttl
	.payment__choice
		padding-bottom: 10px
	.radio__title
		font-size: 20px
		padding-left: 25px
		color: $lightViolet
		+mus300
		.card
			display: inline-block
		.viza
			+s(viza)
		.mastercard
			+s(mastercard)
		.untitled
			+s(untitled)
		.discover
			+s(discover)
		.paypal
			padding-right: 15px
			+s(paypal)
		.amazon
			padding-right: 10px
			+s(amazon)
	.proceed
		margin-top: 60px
		+clr
		.btnSend
			float: right
	.proceed__txt
		float: left
		width: 60%
		font-size: 15px
		color: $lightViolet
		+mus500
		a
			color: $blue
			&:hover
				color: $neon