//support
.violet
	background: url(../img/gradient_violet.png) top right no-repeat
	+gr
	&:before
		background: url(../img/violet.png) top right no-repeat
		+fill

.blue
	background: url(../img/gradient_blue.png) top right no-repeat
	+gr
	&:before
		background: url(../img/blue.png) top right no-repeat
		+fill

.green
	background: url(../img/gradient_green.png) top right no-repeat
	+gr
	&:before
		background: url(../img/green.png) top right no-repeat
		+fill

.seafoam
	background: url(../img/gradient_seafoam.png) top right no-repeat
	+gr
	&:before
		background: url(../img/seafoam.png) top right no-repeat
		+fill

.pic
	background: url(../img/pic.png) top center no-repeat
	background-size: contain

.wrapper
	max-width: 1440px
	min-width: 320px
	margin: 0 auto
	position: relative
	.header
		padding: 20px 3% 0 5.3%
	a
		text-decoration: none

//support page
.inner
	position: relative
	padding: 9% 13.8% 0 15%
	.inner__ttl
		padding-top: 25px
		+clr
	.inner__faq
		float: left
		padding-top: 20px
		text-transform: uppercase
		font-size: 60px
		color: #fff
		line-height: 1
		+mus100
	.inner__manual
		float: right
	.inner__ask
		margin: 34px 0 51px 0
	.ask__list-item
		line-height: 36px
		cursor: pointer
		span
			font-size: 20px
			color: $blue
			+mus300
			&:hover
				color: $neon
		&.is-active
			margin-top: -2.5px
			span
				display: inline-block
				margin-bottom: 19px
				color: #FFF
				+mus700
				&:hover
					color: #FFF
	.ask__answered
		background-color: rgba(#222230, .4)
		margin-bottom: 35px
		+mus300
		p
			padding: 2.5% 4% 2.5% 5%
			font-size: 20px
			color: #fff
			line-height: 24px
	.inner__form
		margin-bottom: 42px
		background-color: rgba(#222230, .4)
		&.last
			margin-bottom: 62px
	.formReg
		padding: 5.3% 5%
		+clr
		&.another
			padding: 4.3% 5% 5% 5%
		.textarea
			margin: 0 0 18px 0
		.btnSend
			float: right
		.input
			&.another
				margin: 0 0 20px 0
			&.small
				margin: 0 0 10px 0
	.formReg__prettl
		padding-bottom: 52px
		+s-ttl
	.formReg__ttl
		margin-bottom: 24px
		line-height: 1
		+ttl
		&.center
			text-align: center
	.formReg__desc
		margin: 0 0 3px 0
		font-size: 20px
		color: #fff
		+mus300
		&.is-active
			+mus700
	.formReg__input
		margin-bottom: 41px
		+clr
		&.another
			margin-bottom: 67px
		&.last
			margin-bottom: 0
	.formReg__warning
		padding: 14px 50px 0 0
		font-size: 15px
		color: $lightViolet
		line-height: 18px
		+mus500
	.input__row
		float: left
		width: 50%
		padding-right: 2.5%
		+box
		&.nopad
			padding: 0
		&.wbigchange
			width: 54%
			margin-top: 17px
		&.wchange
			width: 43.3%
			margin-top: 17px
		&:last-child
			float: right
			padding: 0 0 0 2.6%
	.formLost
		padding: 5.3% 5%
		+clr
		.input__row
			float: left
		.btnSend
			float: right
		.formReg__input
			margin-bottom: 51px
	.formLost__ttl
		margin-bottom: 8px
		line-height: 1
		+s-ttl
	.formLost__txt
		width: 50%
		float: right
		padding: 27px 0 0 2.4%
		font-size: 20px
		line-height: 1.2
		color: $lightViolet
		+mus300
		+box
	.version__ttl
		margin-bottom: 29px
		line-height: 1
		+ttl
	.version__txt
		width: 73%
		margin-bottom: 42px
		padding-left: 4px
		font-size: 20px
		color: $lightViolet
		line-height: 24px
		+mus300
	.version__choose
		display: table
		width: 92%
		margin-bottom: 50px
	.wrapper__disk
		width: 100%
		height: 142px
	.choose__item
		text-align: center
		display: table-cell
		width: 23%
		&:hover
			background-color: #21212f
		a
			display: block
			padding: 50px 0
	.choose__name
		margin-bottom: 20px
		text-transform: uppercase
		font-size: 15px
		color: #00D2FF
		+mus700
	.choose__desc
		font-size: 15px
		color: $lightViolet
		+mus300
	.choose__disk
		margin: 0 auto
	.choose__disk-first
		+sr(daisydisk1)
	.choose__disk-second
		+sr(daisydisk2)
	.choose__disk-third
		+sr(daisydisk3)
	.choose__disk-fourth
		+sr(daisydisk4)
	.inner__source
		margin-bottom: 200px
	.source__ttl
		padding-bottom: 15px
		+ttl
		&.small
			padding-bottom: 30px
			+s-ttl
	.source__txt
		padding: 0 33px 0 4px
		font-size: 20px
		color: $lightViolet
		line-height: 24px
		+mus300
		a
			color: #00D2FF
			&:hover
				color: $neon
		&.another
			padding: 0 30px 0 3px

//about us page
.inner
	.about
		padding: 10.2% 2.8% 16.6% 0
		text-align: center
		font-size: 32px
		color: #fff
		line-height: 1.2
		+mus300
		p
			width: 75%
			margin: 0 auto
	.who
		margin-bottom: 50px
		+clr
	.person
		float: left
		text-align: left
		&:last-child
			float: right
			text-align: right
	.person__ttl
		padding-bottom: 24px
		line-height: 1
		+s-ttl
	.person__desc
		font-size: 20px
		color: $lightViolet
		line-height: 1.2
		+mus300
		&.last
			padding-bottom: 14px
		&.small
			font-size: 15px
	.person__mail
		font-size: 15px
		color: $blue
		letter-spacing: 0.35px
		&:hover
			color: $neon
	.known
		margin-bottom: 50px
		background-color: rgba(#222230, .4)
	.known__item
		padding: 5.3% 5.3% 5.3% 5%
	.known__ttl
		margin-bottom: 33px
		line-height: 1
		+ttl
	.place
		margin-bottom: 33px
	.place__item
		display: table-cell
		width: 50%
		padding-right: 7%
		+box
		&:last-child
			padding-right: 6%
	.place__ttl
		padding-bottom: 24px
		line-height: 1
		+s-ttl
	.place__txt
		font-size: 20px
		color: $lightViolet
		line-height: 24px
		+mus300
	.span__blue
		color: $blue
		&:hover
		&.hover
			color: $neon
	.map
		width: 87%
		margin: 0 auto
		position: relative
		.worldmap
			width: 100%
		.dots
			position: absolute
			+svg(dots, 8, 8)
			&:before
				content: ""
				position: relative
				top: -2px
				left: -2px
				display: none
			&:hover
			&.hover
				&:before
					+svg(dots-h, 12, 12)
			&.c1
				top: 14.2%
				left: 20.2%
			&.c2
				top: 32%
				left: 6.3%
			&.c3
				top: 20.6%
				left: 25.6%
			&.c4
				top: 34.5%
				left: 17.2%
			&.c5
				top: 40.6%
				left: 13.9%
			&.c6
				top: 51.2%
				left: 22.3%
			&.c7
				top: 57.5%
				left: 28%
			&.c8
				left: 38.9%
				top: 26.6%
			&.c9
				top: 9.3%
				left: 43.8%
			&.c10
				top: 18.1%
				left: 40.9%
			&.c11
				top: 11%
				left: 46.6%
			&.c12
				top: 11%
				left: 49.8%
			&.c13
				top: 18%
				left: 47.6%
			&.c14
				top: 25%
				left: 46.2%
			&.c15
				top: 32.4%
				right: 42%
			&.c16
				top: 42.4%
				right: 31.1%
			&.c17
				top: 30.5%
				right: 14.3%
			&.c18
				top: 33.4%
				right: 20.6%
			&.c19
				top: 40.2%
				right: 19.7%
			&.c20
				bottom: 30%
				right: 13%
			&.c21
				bottom: 35.5%
				right: 17.5%
			&.c22
				bottom: 44.2%
				right: 18.2%
			&.c23
				bottom: 47.5%
				right: 22.9%

//blog page
.blog
	a
		color: $blue
		&:hover
			color: $neon
	.blog__ttl
		margin: 42px 0 36px 0
		line-height: 1
		+ttl
	.post
		position: relative
		margin-bottom: 60px
	.post__date
		position: absolute
		top: 0
		left: -13.5%
		font-size: 15px
		color: #FFF
		+mus300
	.post__ttl
		margin-bottom: 23px
		line-height: 1
		+s-ttl
	.post__txt
		font-size: 20px
		color: $lightViolet
		line-height: 24px
		+mus300
		&.space
			margin-bottom: 25px
		&.padding
			padding-right: 20px
		&.big-padding
			padding-right: 25px
	.post__notes
		line-height: 1
	.notes__item
		font-size: 20px
		color: $lightViolet
		+mus300
		&.space
			margin-bottom: 28px
			span
				line-height: 22px
				&.padding
					padding-right: 20px
		span
			display: table-cell
			padding-left: 31px
			line-height: 30px
		&:before
			display: table-cell
			content: "\2014"
			color: #FFF
	.tags
		margin-top: 37px
		font-size: 15px
		color: #FFF
		.tags__span
			text-transform: uppercase
			+mus700
	.blog__pagination
		margin: 100px 0 94px 0
		text-transform: uppercase
		font-size: 15px
		+mus700
	.previous
		display: inline-block
		position: relative
		padding-left: 20px
		&:hover
			&:before
				+svg(scroll_active, 27, 16)
		&:before
			content: ""
			position: absolute
			left: -5px
			+svg(scroll, 27, 16)
			+rotate(90)
	.count
		display: inline-block
		margin: 0 2.6%
		font-size: 0
	.count__item
		margin-right: 5.5px
		padding: 7px 12px
		font-size: 15px
		color: $dark
		background: $blue
		+border-radius(5px)
		+background-clip(padding-box)
		&:hover
			background: $neon
			color: $dark
		&:last-child
			margin-right: 0
		&.is-active
			background: none
			color: #FFF
	.next
		display: inline-block
		padding-right: 29px
		position: relative
		&:hover
			&:before
			//	+sr(scroll_active)
		&:before
			content: ""
			position: absolute
			right: 0
		//	+sr(scroll)
			+rotate(270)


//store page
.store
	.product
		margin: 35px 0 65px
	.product__row
		margin-bottom: 24px
		+clr
		&:last-child
			margin-bottom: 0
	.product__info
		float: left
		text-transform: uppercase
		margin: 4px 0 0 -3px
		font-size: 30px
		+mus300
		span
			color: $neonGreen
			&:first-child
				color: #FFF
	.product__country
		float: right
	.product__quantity
		display: table-cell
		padding-right: 48px
		font-size: 20px
		color: #FFF
		box-sizing: border-box
		+mus300
		p
			margin: 0 0 2px -1px
		input
			max-width: 83px
			padding: 9px 0 9px 18px
			font-size: 25px
			color: #FFF
			background-color: rgba(38,38,54,.7)
			border: 1px solid rgba(161,161,175,.4)
			+border-radius(5px)
			+background-clip(padding-box)
			+placeholder-color(#fff)
			+box
			+mus300
	.product__desc
		display: table-cell
		padding-right: 100px
		font-size: 20px
		color: $lightViolet
		line-height: 24px
		+mus300
		+box
	.inner__form
		margin-bottom: 60px
	.payment
		padding-left: 48px
		margin-bottom: 150px
	.payment__ttl
		margin-bottom: 19px
		+s-ttl
	.payment__choice
		line-height: 35px
	.radio__title
		font-size: 20px
		padding-left: 21px
		color: $lightViolet
		+mus300
		.card
			display: inline-block
			margin-right: 3px
			&:first-child
				margin-left: 5px
			&.last
				margin-right: 12.5px
		.viza
			+s(viza)
		.mastercard
			+s(mastercard)
		.untitled
			+s(untitled)
		.discover
			+s(discover)
		.paypal
			margin-right: 15px
			+s(paypal)
		.amazon
			margin-right: 5px
			+s(amazon)
	.proceed
		margin-top: 52px
		+clr
		.btnSend
			float: right
			margin: 2px 50px 0 0
	.proceed__txt
		float: left
		width: 55%
		padding-left: 3px
		font-size: 15px
		color: $lightViolet
		line-height: 18px
		+mus500
		a
			color: $blue
			&:hover
				color: $neon