// Normally mainpage styles
//main section
.main
	+gh(#121f46, #16161f)
	padding-bottom: 50px

.header
	padding-top: 20px
	+clr
	.header__in
		float: left
	.header__in_right
		float: right
	.header__logo
		display: block
		text-decoration: none
		text-transform: uppercase
		padding-top: 10px
	.header__ico
		display: inline-block
		+s(logo)
	.header__txt
		font-size: 35px
		color: #FFF
		padding-left: 15px
		vertical-align: 15px
		+mus300
	.header__txt_grey
		color: #6c6c8f

.menu
	+clr
	.menu__item
		display: inline-block
		margin-right: 55px
		&:last-child
			margin-right: 0
		a
			display: block
			float: left
			position: relative
			text-transform: uppercase
			color: $blue
			font-size: 17px
			padding: 35px 15px 0
			+mus500
			+box
			&:hover
				color: $neon
				&:after
					opacity: 1
					width: 100%
			&:after
				content: ""
				position: absolute
				width: 1%
				height: 2px
				top: 0
				left: 0
				opacity: 0
				background: $neon
				+transition(all 0.4s ease)
	.menu__item_is-active
		a
			color: #fff
			+mus700

//MOVE THIS!!11
.svg
	width: 500px
	height: 500px
//MOVE THIS!!11
.content
	display: table
	width: 100%
	position: relative
	.content__img
		+s(daisy)
	.content__txt
		display: table-cell
		padding-right: 108px
		color: #FFF
		font-size: 5.12vw
		text-transform: uppercase
		text-align: right
		vertical-align: middle
		+mus100
	.content__p_green
		color: $neonGreen
	.content__btn
		position: absolute
		right: 108px
		bottom: 0
		+clr
		.btn__item
			float: left
			text-align: center
			margin-right: 30px
			&:last-child
				margin-right: 0
		.btnLoad
			margin: 0 auto
		.btn__txt
			display: block
			color: $lightViolet
			font-size: 13px
			padding-top: 15px
			+mus500
		.btn__txt_blue
			color: $blue

.social
	font-size: 0
	margin-bottom: 10px
	.social__item
		display: inline-block
		margin-right: 10px
		+opacity(0.6)
		+transition(opacity 0.4s ease)
		&:last-child
			margin-right: 0
		&:hover
			+opacity(1)
	.social__item_fb
		+s(fb)
	.social__item_tw
		+s(tw)
	.social__item_g
		+s(g)
	.social__item_flckr
		+s(flickr)
	.social__item_tube
		+s(tube)

.scrollThis
	position: absolute
	left: 50%
	margin-left: -13px
	+s(scroll)

//section reviews
.reviews
	+gh(#a0e695, #c6ea91)
	.reviews__ttl
		font-size: 5vw//60px
		text-transform: uppercase
		color: $black
		padding: 160px 0 60px 0
		text-align: center
		+mus100
	.reviews__awards
		background: #97e08f

//section homeu
.homeu
	background: url(../img/bg1.jpg) 0 100% no-repeat
	background-size: cover
	.homeu__txt
		padding: 145px 0 45px 0
		font-size: 5vw//60px
		text-transform: uppercase
		+mus100
	.homeu__p
		color: #FFF
	.homeu__p_green
		color: $neonGreen
	.homeu__desc
		width: 34%
		padding-bottom: 75px
		font-size: 20px
		color: #FFF
		+mus300

.compare
	color: #FFF
	text-transform: uppercase
	font-size: 15px
	+mus700
	.compare__item
		text-align: center
		display: inline-block
		width: 150px
		margin-right: 6%
		&:last-child
			margin-right: 0
	.compare__item_laptop
		margin: 0 auto 40px
		+s(laptop)
	.compare__item_cloud
		margin: 0 auto 40px
		+s(cloud)
	.compare__item_usb
		margin: 0 auto 40px
		+s(usb)
	.compare__item_disk
		margin: 0 auto 40px
		+s(disk)
	.compare__p_green
		color: $neonGreen
		padding-top: 25px
		text-transform: none
	.compare__p_gr
		color: $neonGreen

//section pro
.pro
	background: url(../img/bg2.jpg) 0 100% no-repeat
	background-size: cover
	.pro__txt
		padding: 145px 55px 45px 0
		font-size: 5vw//60px
		text-transform: uppercase
		text-align: right
		+mus100
	.pro__p
		color: $black
	.pro__p_green
		color: $darkGreen
	.pro__about
		padding-right: 55px
		text-align: right
	.pro__desc
		width: 34%
		padding-bottom: 75px
		font-size: 20px
		color: $black
		display: inline-block
		text-align: right
		+mus300
		+clr
	.compare
		text-align: right