//main section
.main
	padding-top: 50px
	padding-bottom: 3.5%
	height: 100vh
	+gh(#001a46, #0e0e19)
	.section__inside
		height: 100%

.header
	position: fixed
	width: 100%
	height: 80px
	min-width: 1280px
	top: 0
	z-index: 200
	+box
	+clr
	.header__in
		float: left
	.header__in_right
		float: right
		position: relative
		z-index: 10
	.header__logo
		display: block
		padding-top: 20px
		text-decoration: none
	.header__txt
		position: relative
		display: inline-block
		padding-left: 56px
		color: #FFF
		font-size: 35px
		line-height: 1
		+mus100
		.header__ico
			content: ""
			position: absolute
			display: block
			top: -3px
			left: 0
			+sr(logo)
	&.fixed
		background: #1D1D29

.menu
	+clr
	.menu__item
		display: inline-block
		margin-right: 57px
		&:last-child
			margin-right: 0
		a
			position: relative
			display: block
			float: left
			padding: 25px 12px 35px 18px
			text-transform: uppercase
			text-decoration: none
			color: $blue
			font-size: 17px
			+mus500
			+box
			&:hover
				color: $neon
				&:after
					opacity: 1
					width: 100%
			&:after
				content: ""
				position: absolute
				width: 1%
				height: 2px
				top: 10px
				left: 0
				opacity: 0
				background: $neon
				+transition(width 0.3s ease)
	.menu__item_is-active
		a
			color: #fff
			+mus700
			&:hover
				color: #fff
			&:after
				display: none

.content
	position: relative
	height: 100%
	display: flex
	flex-direction: column
	justify-content: center
	display: -webkit-flex
	-webkit-flex-direction: column
	-webkit-justify-content: center
	.content__img
		max-width: 600px
		img
			width: 100%
	.content__txt
		position: absolute
		top: 50%
		margin-top: -17vh
		right: 0
		color: #FFF
		font-size: 70px
		text-transform: uppercase
		text-align: right
		line-height: 1.14
		+mus100
		+box
	.content__p
		letter-spacing: -2.1px
	.content__p_green
		color: $neonGreen
		padding-bottom: 4.5%
		letter-spacing: -2.5px
	.content__btn
		display: inline-block
		text-align: right
		font-size: 0
		.btn__item
			float: left
			text-align: center
			margin-right: 32px
			&:last-child
				margin-right: 0
		.btnLoad
			margin: 0 auto
		.btnBuy
			.btnBuy__span
				padding-bottom: 1px
		.btn__txt
			display: block
			color: $lightViolet
			font-size: 13px
			padding-top: 11px
			text-transform: none
			+mus500
		.btn__txt_blue
			color: $blue
			&:hover
				color: $neon

.social
	position: absolute
	font-size: 0
	bottom: 5vh
	.social__item
		display: inline-block
		margin-right: 10px
		+opacity(0.6)
		+transition(opacity 0.4s ease)
		&:last-child
			margin-right: 0
		&:hover
			+opacity(1)
	.social__item_fb
		+svg(fb, 31, 33)
	.social__item_tw
		+svg(twitter, 31,33)
	.social__item_g
		+svg(g, 31, 33)
	.social__item_flckr
		+svg(flickr, 31, 33)
	.social__item_tube
		+svg(tube, 31, 33)

.scrollThis
	position: absolute
	left: 50%
	bottom: 7vh
	margin-left: -13px
	+svg(scroll, 27, 16)
	&:hover
		+svg(scroll_active, 27, 16)

//section reviews
.reviews
	+gh(#a0e695, #c3ea91)
	.reviews__ttl
		padding-bottom: 30px
		letter-spacing: -1px
		text-transform: uppercase
		text-align: center
		font-size: 60px
		color: $black
		+mus100
	.reviews__awards
		background: #97e08f
		width: 100%
	.awards__bl
		display: flex
		display: -webkit-flex //safari
		padding: 41px 18.4% 45px 19.2%
		+clr
	.awards__item
		color: #42A655
		font-size: 15px
		text-align: center
		+mus700
	.awards__quantity
		display: block
		font-size: 40px
		text-align: center
		letter-spacing: -3.5px
		line-height: 1.4
		+mus300
	.awards__desc
		margin-top: -5px
		line-height: 19.5px
		letter-spacing: 0.15px
	.awards__item_grow
		-webkit-flex-grow: 2
		font-size: 0
		margin-top: 16px
		text-align: center
	.awards__best
		display: inline-block
		padding-right: 53px
		+sr(best)
	.awards__macworld
		display: inline-block
		padding-right: 43px
		+sr(macworld)
	.awards__macformat
		display: inline-block
		+sr(macformat)


//section homeu
.homeu
	padding-top: 150px
	padding-bottom: 20%
	background: url(../img/bg1.jpg) 0 100% no-repeat
	background-size: cover
	.homeu__txt
		margin-left: -7px
		padding-bottom: 30px
		text-transform: uppercase
		font-size: 60px
		line-height: 1.15
		letter-spacing: -0.76px
		+mus100
	.homeu__p
		color: #FFF
	.homeu__p_green
		color: $neonGreen
	.homeu__desc
		width: 495px
		padding-bottom: 55px
		font-size: 20px
		color: #FFF
		line-height: 1.2
		+mus300

.compare
	position: absolute
	width: 90%
	bottom: 57px
	text-transform: uppercase
	font-size: 15px
	color: #FFF
	+mus700
	.compare__item
		text-align: center
		display: inline-block
		width: 135px
		margin-right: 110px
	.compare__item_laptop
		.laptop
			display: block
			margin: 0 auto 32px
	.compare__item_cloud
		.cloud
			display: block
			margin: 0 auto 26px
	.compare__item_usb
		.usb
			display: block
			margin: 0 auto 24px
	.compare__item_disk
		.disk
			display: block
			margin: 0 auto 18px
	.compare__item_mac
		margin-left: 7px
		.mac
			margin: 0 auto 20px
	.compare__p_green
		color: $neonGreen
		padding-top: 14.2px
		text-transform: none
	.compare__p_gr
		color: $neonGreen

//section pro
.pro
	background: url(../img/bg2.jpg) 0 72% no-repeat
	background-size: cover
	.section__inside
		padding-top: 150px
		padding-bottom: 19%
		position: relative
	.pro__txt
		padding: 0 0 1.7% 0
		font-size: 60px
		text-transform: uppercase
		text-align: right
		line-height: 1.2
		letter-spacing: -0.2px
		+mus100
	.pro__p
		color: $black
	.pro__p_green
		color: $darkGreen
	.pro__about
		text-align: right
	.pro__desc
		display: inline-block
		width: 495px
		padding-bottom: 55px
		text-align: right
		font-size: 20px
		color: $black
		line-height: 1.2
		+mus300
		+clr
	.compare
		width: 100%
		right: 0
		text-align: right
		.compare__item
			line-height: 1.3
			margin-right: 8.5%
			&:last-child
				margin-right: 0
				width: 80px
			.compare__item_cloud
				.cloud
					margin: 25px auto 28px
			.compare__item_disk
				.disk
					margin: 15px auto 24px
			.compare__item_usb
				.usb
					margin: 20px auto 31px
		.compare__p_green
			padding-top: 15px

//features section
.features
	+gh(#f9d99f, #f9e59f)
	padding: 175px 0 160px 0
	.features__ttl
		margin-bottom: 70px
		padding-left: 8px
		text-align: center
		text-transform: uppercase
		font-size: 60px
		color: $bordo
		letter-spacing: -0.5px
		+mus100
	.features__data
		display: flex
		justify-content: space-around
		display: -webkit-flex // safari
		-webkit-justify-content: space-around // safari
	.features__item
		display: inline-block
		width: 180px
		margin-bottom: 20px
		text-align: center
		font-size: 0
		color: #78644C
		line-height: 25px
		vertical-align: top
		+mus300
		.fi
			height: 90px
		&:first-child
			width: 185px
		&:nth-child(2)
			width: 194px
		&:nth-child(3)
			.features__about
				padding-bottom: 32px
	.features__item_safe
		margin: 0 auto 18px
	.features__item_fast
		margin: 0 auto 18px
	.features__item_friendly
		margin: 0 auto 20px
	.features__item_cost
		margin: 0 auto 20px
	.features__item_visual
		margin: 0 auto 28px
		.visual
			padding-top: 15px
	.features__desc
		font-size: 20px
	.features__about
		font-size: 15px
		padding-bottom: 35px
		color: $bordo
		text-transform: uppercase
		+mus700

//monitor section
.monitor
	padding-top: 12%
	padding-bottom: 7.7%
	+gh(#151520, #0c3556)
	.section__inside
		position: relative
	.monitor__screenshot
		width: 51%
		img
			width: 100%
			max-width: 700px
		.retina
			display: none
		+retina
			img
				display: none
			.retina
				display: block
	.monitor__txt
		position: absolute
		width: 40%
		top: 0
		right: 0
		margin-top: 20px
		text-align: right
		font-size: 20px
		letter-spacing: -0.4px
		text-align: right
		color: #FFF
		+box
		+mus300
	.monitor__p
		font-size: 60px
		text-transform: uppercase
		line-height: 1.2
		+mus100
	.monitor__p_green
		margin-bottom: 18px
		color: $neonGreen
	.btn__item
		position: absolute
		bottom: -2px
		right: 0
		.btnLoad
			background: $blue
			border-color: $blue
			color: $black
			line-height: 65px
			&:hover
				background: $neon
				border-color: $neon
		.btn__txt
			display: block
			color: #a1a1af
			font-size: 13px
			padding-top: 8px
			text-align: center
			+mus500

//footer
.footer
	position: relative
	background: $black
	z-index: 10
	.footer__inside
		padding: 70px 0
		+clr
		a
			text-decoration: none
	.footer__feedback, .footer__menu
		float: left
	.footer__feedback
		padding-right: 20px
		position: relative
		z-index: 5
		+box
	.footer__p
		padding-left: 5px
		color: #fff
		font-size: 15px
		text-transform: uppercase
		+mus700
	.footer__a
		display: block
		margin-top: 4px
		padding-left: 5px
		font-size: 15px
		color: #00C7E4
		+mus500
		&:hover
			color: $neon
	.footer__logo
		padding: 45px 0
	.symbol
		+clr
		li
			float: left
			padding-right: 10px
			&:last-child
				padding-right: 0
	.symbol__disk
		+sr(logo_footer)
	.symbol__beat
		+svg(beat, 64, 64)
		background-size: contain
	.symbol__lily
		margin-top: -8px
		+sr(lilyview)
	.footer__copyright
		color: $lightViolet
		font-size: 13px
		padding-left: 5px
		line-height: 1.2
		letter-spacing: 0.1px
		+mus500
		a
			color: $blue
			&:hover
				color: $neon
	.footer__menu
		width: 100%
		margin-left: -436px
		padding-left: 436px
		+box
	.footer__nav
		float: left
		padding: 3px 17% 0 10.3%
		letter-spacing: 0.2px
		line-height: 13px
		&:last-child
			padding: 0
	.nav__item
		a
			font-size: 15px
			margin-bottom: 13px
			display: block
			color: #00C7E4
			&:hover
				color: $neon


