//buttons
.btnLoad
	background: none
	color: $violet
	font-size: 25px
	width: 200px
	height: 70px
	text-transform: uppercase
	text-align: center
	border: 3px solid $violet
	line-height: 1
	+border-radius(4px)
	+mus500
	+transition(all 0.4s ease)
	+box
	&:hover
		border-color: $neon
		color: $neon

.btnBuy
	width: 200px
	height: 70px
	border: 3px solid $blue
	background: $blue
	color: $dark
	text-transform: uppercase
	text-align: center
	font-size: 25px
	letter-spacing: 0.5px
	line-height: 1
	+border-radius(4px)
	+mus500
	+transition(all 0.4s ease)
	&:hover
		background: $neon
		color: $dark
		border-color: $neon
	.btnBuy__span
		display: inline-block
		color: $darkBlue
		padding-left: 18px

.btnManual
	display: block
	position: relative
	width: 214px
	height: 87px
	border-radius: 5px
	background-clip: padding-box
	background: $blue
	&:hover
		+transition(all 0.4s ease)
		background: $neon
	.btnManual__txt
		display: inline-block
		padding-left: 92px
		vertical-align: middle
		text-align: left
		text-transform: uppercase
		font-size: 15px
		color: $dark
		+mus700
		&:before
			content: ""
			position: absolute
			width: 71px
			height: 60px
			top: 15px
			left: 30px
			background: url(../img/svg/manual.svg) no-repeat

.btnSend
	@extend .btnManual
	width: 122px
	height: 50px
	text-transform: uppercase
	font-size: 23.5px
	color: #07243B
	line-height: 50px
	+mus500
	&.another
		width: 280px

//fa-bars
.fa.fa-bars
	color: #fff
	font-size: 30px
	cursor: pointer
	display: none
	margin-top: 30px

//textarea
.textarea
	width: 100%
	min-height: 230px
	padding: 17px 18px
	font-size: 25px
	border: 1px solid rgba(161,161,175,.4)
	background-color: rgba(45,45,64,.7)
	color: #a1a1af
	overflow: hidden
	resize: none
	@include border-radius(5px)
	+mus300
	+box
	+placeholder-color(#a1a1af)
	&:focus
		+transition(all .4s ease)
		border: 1px solid #b6fa5b
		background-color: rgba(21,21,31,.7)
		box-shadow: rgba(21,21,31,.7)
		color: $neonGreen

//input
.input
	width: 100%
	height: 50px
	padding: 5px 13px 0 13px
	font-size: 25px
	border: 1px solid rgba(161,161,175,.4)
	background-color: rgba(45,45,64,.7)
	color: #a1a1af
	@include border-radius(5px)
	+mus300
	+box
	+placeholder-color(#a1a1af)
	&:focus
		+transition(all .4s ease)
		border: 1px solid #b6fa5b
		background-color: rgba(21,21,31,.7)
		box-shadow: rgba(21,21,31,.7)
		color: $neonGreen

//dropdown
.select
	position: relative
	width: 270px
	min-height: 50px
	font-size: 25px
	background-color: rgba(38,38,54,.7)
	border: 1px solid rgba(161,161,175,.4)
	+border-radius(5px)
	+background-clip(padding-box)
	+box
	+mus300
	&.is-active
		border: 1px solid $neonGreen
		&:after
			+svg(select_highlight, 22, 14)
		.chosen
			color: $neonGreen
	a
		display: block
		position: relative
		color: $lightViolet
		padding: 7px 45px 6px 52px
		&:before
			content: ""
			position: absolute
			top: 18px
			left: 18px
	&:after
		content: ""
		position: absolute
		top: 20px
		right: 17px
		cursor: pointer
		+svg(dropdown, 22, 14)
	&.another
		width: 100%
		margin-bottom: 20px
		&:before
			display: none
		&:after
			top: 18px
		.country
			width: 100%
			a
				padding: 0px 0px 0px 20px
		.chosen
			padding: 9px 13px 4px
	.chosen
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	.country
		position: absolute
		width: 269px
		font-size: 15px
		padding: 20px 0
		background-color: #21212f
		border: 1px solid rgba(161,161,175,.4)
		+border-radius(0 0 5px 5px)
		+background-clip(padding-box)
		+border-radius(5px)
		+box
		+mus500
		&.is-visible
			display: block
		a
			padding: 0px 0px 0px 53px
			line-height: 24px
			&:before
				content: ""
				position: absolute
				top: 5px
				left: 19px
			&:hover
				color: $neon
	.us
		&:before
			+s(us)
	.canada
		&:before
			+s(canada)
	.uk
		&:before
			+s(uk)
	.au
		&:before
			+s(au)
	.denmark
		&:before
			+s(denmark)
	.france
		&:before
			+s(france)
	.germany
		&:before
			+s(germany)

//radio checkbox
.radio
	display: inline-block
	position: relative
	input
		position: absolute
		left: 0
		top: 8px
		width: 12px
		height: 12px
		z-index: 2
		opacity: 0
		&:checked
			+ .radio__title
				&:after
					display: block

.radio__title
	display: inline-block
	position: relative
	z-index: 1
	&:before
		content: ""
		position: absolute
		top: 10px
		left: 2px
		+s(radio)
	&:after
		content: ""
		display: none
		position: absolute
		top: 7px
		left: 0
		z-index: 2
		+s(radio1)

//cycle
.reviews__cycle
	position: relative
	width: 70%
	min-height: 300px
	margin: 0 auto
	.cycle-slideshow
		.cycle__quote
			text-align: center
			width: 100%
	.cycle__ttl
		font-size: 40px
		letter-spacing: 0.45px
		line-height: 1.25
		padding-top: 3px
		+mus300
	.cycle__bl
		margin-top: 18px
		padding-bottom: 70px
		font-size: 0
	.cycle__inner
		width: 310px
		margin: 0 auto
		+clr
	.cycle__txt
		float: left
		text-transform: uppercase
		font-size: 15px
		color: $black
		line-height: 20px
		padding-top: 35px
		+mus700
	.cycle__txt_right
		text-align: right
		margin-left: 3px
	.cycle__txt_left
		text-align: left
	.cycle__txt_green
		color: $darkGreen
		display: block
		text-transform: none
	.cycle__txt_sp
		display: block
	.cycle__author
		float: left
		display: block
		margin: 6px 28px 0 29px
		+sr(douglas)
	.cycle__next
		position: absolute
		top: 12px
		right: -16px
		cursor: pointer
		+svg(next, 17, 27)
	.cycle__prev
		position: absolute
		top: 12px
		left: -16px
		cursor: pointer
		+svg(next, 17, 27)
		+rotate(180)

.blog__cycle
	position: relative
	margin: 42px 0
	img
		width: 100%
	.blog__prev
		position: absolute
		top: 50%
		left: -50px
		margin-top: -9px
		cursor: pointer
		+svg(scroll, 27, 16)
		+rotate(90)
		&:hover
			+svg(scroll_active, 27, 16)
	.blog__next
		position: absolute
		top: 50%
		margin-top: -9px
		right: -50px
		cursor: pointer
		+svg(scroll, 27, 16)
		+rotate(270)
		&:hover
			+svg(scroll_active, 27, 16)
	.cycle-pager
		position: absolute
		left: 50%
		margin: 30px 0 0 -31px
		text-align: center
		.cycle-pager-active
			margin: 0 11px 0 -4px
			width: 13px
			height: 13px
			border: 2px solid #fff
			background-color: #15151e
			+border-radius(4px)
			&:hover
				background-color: #15151e
		span
			display: inline-block
			width: 8px
			height: 8px
			margin-right: 15px
			background: $blue
			border-radius: 1px
			background-clip: padding-box
			cursor: pointer
			vertical-align: middle
			text-indent: -1000px
			&:hover
				background: $neon
			&:last-child
				margin-right: 0

.aftercycle
	padding: 26px 20% 58px
	font-size: 15px
	text-align: center
	color: #FFF
	line-height: 1.3
	+mus500

