+r(1500)
	.content
		.content__img
			max-width: 650px
			max-width: 650px

+r(1440)
	.content
		.content__img
			width: 50%
	.features
		text-align: center
		.features__item
			font-size: 18px
			line-height: 22px
			&:last-child
				margin-right: 5%

+r(1115)
	.menu
		.menu__item
			margin-right: 23px
	.btnLoad
		width: 180px
	.reviews
		.awards__bl
			padding: 41px 10%
		.reviews__ttl
			font-size: 40px
		.cycle__ttl, .awards__quantity
			font-size: 25px
			margin-bottom: 10px
	.features
		.features__ttl
			font-size: 40px
		.features__about
			padding-bottom: 10px
		.features__item:nth-child(3)
			.features__about
				padding-bottom: 7px
		.features__item_safe
			margin: 0 auto 10px
		.features__item_fast
			margin: 0 auto 10px
		.features__item_friendly
			margin: 0 auto 12px
		.features__item_cost
			margin: 0 auto 12px
		.features__item_visual
			margin: 0 auto 20px
	.inner
		.inner__faq, .inner__manual
			float: none
		.person__desc
			font-size: 18px
		.known__ttl
			font-size: 50px
		.blog__ttl
			margin: 35px 0 60px
		.post__date
			left: -15px
			top: -30px
			font-size: 13px
		.formReg .input
			font-size: 20px

+r(1020)
	.main
		height: auto
	.content
		.content__txt
			right: 0
	.social
		margin-bottom: 15px
	.fa.fa-bars
		display: block
	.menu
		position: absolute
		display: none
		top: 58px
		right: -20px
		margin-right: 0
		background: #1d1d29
		padding: 10px 20px 20px 20px
		&.is-visible
			display: block
			+transition(all 0.2s ease)
		.menu__item
			display: block
			margin-right: 0
			a
				padding: 8px 0 7px
				font-size: 15px
				float: none
				text-align: right
				&:after
					display: none
	.header
		&.fixed
			.fa.fa-bars
				float: left
			.bntBuy
				margin-left: 25px
			.menu
				margin-right: 0
				.menu__item
					margin-right: 0

	.scrollThis
		display: none
	.social
		position: static
	.monitor
		.monitor__screenshot
			img
				width: 470px

+r(900)
	.content__inner
		font-size: 40px
	.content
		.content__btn
			.btn__item
				margin-bottom: 15px
				margin-right: 10px
			.btnBuy, .btnLoad
				width: 160px
				font-size: 20px
			.btn__txt
				padding-top: 10px
				font-size: 11px
	.reviews
		.awards__bl
			display: block
			padding: 41px 0
			text-align: center
		.awards__item
			display: inline-block
			margin-right: 15px
			&:last-child
				margin-right: 0
		.awards__best
			padding: 6px 30px 0px 0px
		.awards__macworld
			padding: 9px 30px 0px 0px
	.homeu
		.homeu__txt
			font-size: 40px
		.homeu__desc
			width: 90%
	.compare
		position: static
		width: auto
		.compare__item
			width: 30%
			margin-bottom: 20px
	.pro
		.pro__txt
			font-size: 39px
		.pro__p
			color: #FFFFFF
		.pro__desc
			width: 90%
			color: #FFFFFF
		.compare
			padding-right: 0
			.compare__item
				width: 40%
				margin-right: 0
				&:first-child
					margin-right: 0
	.monitor
		.monitor__p
			font-size: 35px
		.monitor__txt
			width: 30%
			font-size: 19px
			right: 0
		.btn__item
			right: 0
			.btnLoad
				width: 160px
				font-size: 20px
			.btn__txt
				padding-top: 10px
				font-size: 11px
	.inner
		.choose__item
			display: inline-block
			width: 49%
			vertical-align: top
		.person, .person:last-child
			float: none
			margin-bottom: 40px
			text-align: center
		.place__item
			display: block
			width: 100%
			padding-right: 0
			&:last-child
				margin-top: 40px
		.known__ttl
			font-size: 40px
		.about p
			width: 100%
		.formReg__warning, .product__desc
			padding-right: 0
		.product__info
			font-size: 27px
		.formReg .input
			font-size: 18px
		.select .chosen
			font-size: 18px
			padding: 11px 30px 11px 45px
		.select
			&.another
				&:after
					top: 20px
				.chosen
					padding: 11px 30px 11px 20px

+r(720)
	.content
		.content__img
			width: 60%
			margin: 0 auto
		.content__txt
			position: static
			transform: none
			text-align: center
			margin-bottom: 10px
		.content__btn
			.btn__item
				float: left
				margin-right: 10px
	.reviews
		.awards__item
			display: block
			margin-right: 0
		.awards__item_grow
			margin: 15px 0px 12px 0px
	.pro
		background-position: 35% 100%
	.monitor
		.monitor__inner
			text-align: center
		.monitor__txt
			position: static
			width: 100%
			margin: 20px 0
			text-align: center
		.btn__item
			position: static
			display: inline-block
			padding-bottom: 40px
	.inner
		.input__row
			width: 100%
			float: none
			margin-bottom: 20px
			padding: 0
			&.wbigchange
				width: 100%
			&.wchange
				width: 100%
			&:last-child
				padding: 0
		.formLost__txt
			width: 100%
		.version__txt
			width: 100%
		.about
			font-size: 27px
		.known__ttl
			font-size: 32px
		.person__ttl
			font-size: 27px
		.product__info, .product__country
			float: none
		.product__info
			margin-bottom: 20px
		.formReg__ttl.center
			font-size: 50px
		.proceed
			.proceed__txt
				float: none
				width: 100%
			.btnSend
				float: none
				margin-top: 20px
		.payment
			padding-left: 20px
	.footer
		.footer__menu
			margin: 40px 0 0 0
			padding: 0
		.footer__nav
			padding-left: 0

+r(560)
	.content
		.content__img
			width: 290px
	.reviews
		.reviews__ttl
			font-size: 35px
		.cycle__ttl
			font-size: 22px
	.monitor
		.monitor__screenshot
			img
				width: 99%
				margin: 0 auto
	.inner
		.choose__item
			width: 100%
		.about
			font-size: 23px
		.known__ttl
			font-size: 24px
		.place__ttl, .source__ttl, .post__ttl
			font-size: 20px
		.place__txt
			font-size: 17px
		.previous, .next
			span
				display: none
			&:before
				top: -15px
		.notes__item
			margin-bottom: 20px
		.aftercycle
			padding: 25px 0% 60px
		.product__desc
			display: block
			padding-top: 20px
		.formReg__ttl.center
			font-size: 40px
		.ask__list-item
			margin-bottom: 15px
			line-height: 24px
		.ask__answered
			margin-top: 15px

+r(445)
	.reviews
		.awards__best, .awards__macworld, .awards__macformat
			display: block
			margin: 0 auto 15px
			padding: 0
	.reviews__cycle
		.cycle__inner
			width: auto
		.cycle__txt
			float: none
			text-align: center
			margin-left: 0
			padding-top: 0
		.cycle__author
			float: none
			margin: 10px auto
	.homeu
		.homeu__txt
			text-align: center
		.homeu__desc
			width: 100%
			text-align: center
	.compare
		.compare__item
			display: block
			width: 50%
			margin: 0 auto 30px
			&:first-child
				margin: 0 auto 30px
			&:last-child
				margin: 0 auto 30px
	.pro
		.pro__about, .pro__txt
			padding-right: 0
		.pro__txt, .pro__desc
			width: 100%
			text-align: center
		.pro__p
			color: #1D1D29
		.compare
			.compare__item
				display: block
				width: 50%
				margin: 0 auto 30px
				&:first-child
					margin: 0 auto 30px
				&:last-child
					margin: 0 auto 30px
	.inner
		.btnSend.another
			width: 200px
			font-size: 21px
		.formReg .btnSend, .btnSend.another
			float: none
			margin: 0 auto
			font-size: 20px
		.product__info
			font-size: 25px
		.select, .country
			width: 185px
		.select
			font-size: 20px
			&.another
				width: 100%
				font-size: 25px
				&:after
					right: 17px
			&:before
				top: 18px
				left: 15px
			&:after
				top: 20px
				right: 7px
		.formReg__prettl
			text-align: center
			font-size: 23px
		.formReg__ttl.center
			font-size: 30px
		.notes__item
			margin-bottom: 28px
			span
				line-height: 22px
		.blog__prev
			left: -35px
		.blog__next
			right: -35px

+r(400)
	.header
		.header__txt
			font-size: 25px
			vertical-align: 20px
	.content__inner
		font-size: 35px
	.content
		.content__btn
			.btn__item
				float: none
				margin-right: 0
	.social
		text-align: center
	.features
		.features__desc
			font-size: 18px
	.btnManual
		width: 185px
		.btnManual__txt
			&:before
				left: 20px
	.textarea
		font-size: 15px
		padding: 18px 15px
	.inner
		.inner__faq, .formReg__ttl, .version__ttl, .blog__ttl
			font-size: 50px
		.ask__list-item, .ask__answered p,
		.formReg__desc, .formLost__txt, .version__txt,
		.source__txt,.post__txt, .notes__item, .product__desc
			font-size: 17px
		.source__txt
			padding: 0
		.formLost__ttl
			font-size: 27px
		.source__ttl
			padding-bottom: 22px
		.about
			font-size: 18px
			padding: 20.1388% 15.881% 16.0714% 15.904%
		.known__ttl
			font-size: 19px
		.person__desc, .radio__title
			font-size: 16px
		.proceed__txt
			font-size: 13px
		.payment
			padding-left: 0

+r(320)
	.product__info span:first-child
		display: block


