+r(1600)
	.content
		.content__img
			width: 58%

+r(1500)
	.content
		.content__img
			width: 55%

+r(1440)
	.content
		.content__img
			width: 50%

+r(1115)
	.menu
		.menu__item
			margin-right: 23px
	// .inner
	// 	.inner__faq, .inner__manual
	// 		float: none
	// 	.person__desc
	// 		font-size: 18px
	// 	.known__ttl
	// 		font-size: 50px
	// 	.blog__ttl
	// 		margin: 35px 0 60px
	// 	.post__date
	// 		left: -15px
	// 		top: -30px
	// 		font-size: 13px
	// 	.formReg .input
	// 		font-size: 20px

+r(1020)
	.main
		height: auto
	.fa.fa-bars
		display: block
	.menu
		position: absolute
		display: none
		top: 58px
		right: -20px
		margin-right: 0
		background: #1d1d29
		padding: 10px 20px 20px 20px
		&.is-visible
			display: block
			+transition(all 0.2s ease)
		.menu__item
			display: block
			margin-right: 0
			a
				padding: 8px 0 7px
				font-size: 15px
				float: none
				text-align: right
				&:after
					display: none
	.header
		&.fixed
			.fa.fa-bars
				float: left
			.bntBuy
				margin-left: 25px
			.menu
				margin-right: 0
				.menu__item
					margin-right: 0
